* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

header .container {
    height: 125vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

header .nav-menu {
    display: flex;
    z-index: 99;
    height: 64px;
    align-items: center;
    position: fixed !important;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
}

header nav .logo img{
    height: 22px;
    padding-left: 32px;
}

header nav .nav-links {
    display: flex;
    gap: 24px;
    padding-right: 32px;
    list-style: none;
}

header nav .nav-links a {
    color: #737373;
    text-decoration: none;
}

header .text {
    position: absolute;
    text-align: left;
    width: 70%;
    z-index: 1;
    padding-bottom: 5%;
}

header .text h2 {
    font-size: 16px;
}

header .text span {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 1.1px;
}

header .area-animation #blue {
    width: 100px;
    height: 100px;
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
    position: absolute;
    animation: blue 15s infinite;
    display: inline-block;
    position: absolute;
    border-radius: 25%;
}

header .area-animation #red {
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    animation: red 15s infinite;
    display: inline-block;
    position: absolute;
    border-radius: 25%;
}

@keyframes blue {
    0%   {left:0px; rotate: 25deg; top:0px;}
    25% {left: 75%; top: 75%; rotate: 60deg;}
    50% {left: 50%; top: 25%;}
    75% {left: 10%; top: 75%;}
    100% {left:0px; rotate: 120deg; top:0px;}
}

@keyframes red {
    0%   {left:0px; rotate: 25deg; top:0px;}
    25% {left: 25%; top: 75%; rotate: 60deg;}
    50% {left: 60%; top: 0%;}
    75% {left: 100%; top: 65%;}
    100% {left:120%; rotate: 120deg; top:0px;}
}

header .area-animation {
    background-color: rgb(51, 48, 103);
    height: 150vh;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
}

#service {
    color: black;
    height: 100vh;
}

#service .container {
    position: relative;
    display: flex;
    justify-content: center;
}

#service .box {
    position: absolute;
    text-align: center;
    width: 65%;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    height: 85vh;
}

#service .title {
    padding-top: 75px;
}

#service .title h2 {
    padding-bottom: 26px;
}

footer .text-footer p{
    padding: 24px 32px;
    text-align: left;
}

@media only screen and (max-width: 600px){
    header .nav-menu .nav-links{
        display: none;
    }
}